# Standardize contributor names
# Map ThanhChuse1234 to QuanVNM
Quanvnm <quanvnmse160914@fpt.edu.vn> <thanhcqse184888@fpt.edu.vn>
Quanvnm <quanvnmse160914@fpt.edu.vn> ThanhChuse1234 <thanhcqse184888@fpt.edu.vn>

# Map ThisIsLAK with fpt email to ThisIsLAK with gmail
ThisIsLAK <lekhoa2703@gmail.com> ThisIsLAK <thanhcqse184888@fpt.edu.vn>
