# Standardize contributor names
# Map thanhcq1 to QuanVNM
Quanvnm <quanvnmse160914@fpt.edu.vn> <thanhcqse184888@fpt.edu.vn>
Quanvnm <quanvnmse160914@fpt.edu.vn> ThanhChuse1234 <thanhcqse184888@fpt.edu.vn>
