# Standardize contributor names
# Map thanhcq1 to QuanVNM
Quanvnm <quanvnmse160914@fpt.edu.vn> ThanhChuse1234 <thanhcqse184888@fpt.edu.vn>
Quanvnm <quanvnmse160914@fpt.edu.vn> thanhcq1 <thanhcqse184888@fpt.edu.vn>
Quanvnm <quanvnmse160914@fpt.edu.vn> Quan <Quanvonguyen2002@gmail.com>

# Standardize ThisIsLAK
ThisIsLAK <lekhoa2703@gmail.com> Le Anh Khoa <lekhoa2703@gmail.com>
ThisIsLAK <lekhoa2703@gmail.com> Le Anh Khoa <153442565+ThisIsLAK@users.noreply.github.com>
ThisIsLAK <lekhoa2703@gmail.com> Lê Anh Khoa <khoala19@fpt.com>
